@use "/src/styles/vars/recipeCardVars.scss" as *;
@use "/src/styles/vars/appContainerVars.scss" as *;

.recipeCard {
  width: 100%;
  height: 380px;
  border-radius: $border-radius;
  overflow: hidden;
  .cardContent {
    padding: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    color: #f5f5f5;
    transition: 0.7s;
    cursor: pointer;
    h2 {
      font-weight: 700;
      text-transform: capitalize;
    }
    .recipeInfo {
      display: flex;
      gap: 5px;
      p {
        font-size: 18px;
        font-weight: 400;
      }
      .border {
        height: 1.1em;
        margin-top: auto;
        margin-bottom: auto;
        border: 0.1px solid white;
      }
    }
  }
}

@media only screen and (min-width: $tablet) {
  .recipeCard {
    width: $tablet-width;
    height: $tablet-height;
    margin: 1.5rem 1.5rem;
    .cardContent {
      background-size: 100%;
    }
    .cardContent:hover {
      background-size: 105%;
    }
  }
}

@media only screen and (min-width: $desktop) {
  .recipeCard {
    width: $desktop-width;
    height: $desktop-height;
  }
}
