@use "/src/styles/vars/appContainerVars.scss" as *;

.recipes {
  max-width: 280px;
  width: 100%;
  margin: 0 auto;
}

@media only screen and (min-width: $tablet) {
  .recipes {
    display: flex;
    max-width: unset;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: $desktop) {
  .recipes {
    display: flex;
    max-width: unset;
    flex-wrap: wrap;
    justify-content: unset;
  }
}
