.recipeCard {
  width: 350px;
  height: 450px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  padding: 20px;
  .cardContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    color: white;
    text-transform: capitalize;
    h2 {
      font-weight: 700;
    }
  }
}
